/* 初期設定 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* top-wrapper */

.top-wrapper {
  padding: 300px 0 200px 0;
  background-image: url(http://sozai.yutorilife.com/s19201200/photo/umi03.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}

.ero {
  background-color:rgba(255,255,255,0.1);
}

.ero_2 {
  background-color: rgba(255,255,255,0.1);
}

.btn {
  padding: 8px 24px;
  color: #fff;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

/* header */

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255,255,255,0.1);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 1s;
}

.header-left a:hover {
  background-color: rgba(10, 10, 10, 0.9);
}

.header-right {
  float: right;
}

.header-right a {
  line-height: 65px;
  display: block;
  padding: 0 20px;
  float: left;
  background-color: rgba(0,0,0,0.3);
  color: white;
}

/* activity-wrapper */

.activity-wrapper {
  text-align: center;
  padding: 80px 0;
  color: #5e6f84;
}

.slide-top {
  width: 100%;
  padding: 50px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.index-btn {
  display: inline-block;
  color: #fff;
  margin: 0 20px;
  border: 1px solid #eee;
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 10px;
}

.index-btn:hover {
  cursor: pointer;
}

.blog {
  background-color: rgba(128,128,128,0.7);
}

.blog:hover {
  background-color: rgba(128,128,128,1);
}

.youtube {
  background-color: rgba(255,69,0,0.7);
}

.youtube:hover {
  background-color: rgba(255,69,0,1);
}

.github {
  background-color: rgba(0,0,0,0.7);
}

.github:hover {
  background-color: rgba(0,0,0,1);
}

.twitter {
  background-color: rgba(0,255,255,0.7);
}

.twitter:hover {
  background-color: rgba(0,255,255,1);
}

.activity-item {
  display: none;
}

.active {
  display: block;
}

.activity-item h2 {
  font-size: 40px;
  padding: 30px 0;
}

.activity-item p {
  font-size: 20px;
}

/* features-wrapper */

.feature-wrapper {
  padding: 80px 0;
  border-top: 1px solid #eee;
  text-align: center;
}

/* contact-wrapper */

.contact-wrapper {
  padding: 50px 0;
  background-image: url(https://www.pakutaso.com/shared/img/thumb/171116AMEMAN018_TP_V.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
}

.contact-content {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.contact-area {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  text-align: center;
  overflow: hidden;
}

.contact-form {
  margin: 0 auto;
}

.contact-form input {
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #666;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  color: #fff;
}

.contact-form textarea {
  font-size: 18px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #666;
  padding: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

input[type="button"] {
  cursor: pointer;
}

/* footer */

footer {
  height: 100px;
  width: 100%;
  background-color: #0c0c0c;
  color: #fff;
}

/* topに行くやつ */

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 10px;
  background: rgba(255,255,255,0.7);
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 10;
}
